{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3> Update a doctor </h3>

        <h6> Start changing the doctor's info. </h6>

        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{ form.first_name|as_crispy_field }}

            <br>

            {{ form.last_name|as_crispy_field }}

            <br>

            {{ form.specialty|as_crispy_field }}

            <br>

            {{ form.gender|as_crispy_field }}

            <br>

            {{ form.date_of_birth|as_crispy_field }}

            <br>

            {{ form.address|as_crispy_field }}

            <br>

            {{ form.phone_number|as_crispy_field }}

            <br>

            {{ form.marital_status|as_crispy_field }}

            <br>

            <button type="submit" class="btn btn-primary"> 
                
                Update the doctor's info &nbsp; <i class="fa fa-check" aria-hidden="true"></i>

            </button>

            &nbsp;

            <a href="{% url 'list-doctor' %}" class="btn btn-secondary"> 

                Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>

            </a>

        </form>

    </div>

    <br>

{% endblock %}
