{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">

        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>   

                {{patient.last_name|upper}}
    
                {{patient.first_name}}
    
            </strong>
    
            <hr> 
           
            <p> <strong> ID: </strong> {{patient.id}} </p>
            <p> <strong> Gender: </strong> {{patient.gender}} </p>
            <p> <strong> Date of birth: </strong> {{patient.date_of_birth}} </p>
            <p> <strong> Address: </strong> {{patient.address}} </p>
            <p> <strong> City: </strong> {{patient.city}} </p>
            <p> <strong> Zip code: </strong> {{patient.zip_code}} </p>
            <p> <strong> Phone number: </strong> {{patient.phone_number}} </p>
            <p> <strong> Marital status: </strong> {{patient.marital_status}} </p>
            <p> <strong> Emergency contact name: </strong> {{patient.emergency_contact_name}} </p>
            <p> <strong> Emergency contact phone: </strong> {{patient.emergency_contact_phone}} </p>
            <p> <strong> Creation date: </strong> {{patient.created_at}} </p>

        </div>

    </div>

    <br>

    <a href="{% url 'list-patient' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'update-patient' patient.id %}" class="btn btn-info"> Update record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i> </a>

  
{% endblock %}
